{% extends 'layout.html' %}

{% block content %}

<form action="/vocabs/{{ vocab.id }}/edit" method="post">
    <fieldset>
        <label for="word">Word</label>
        <input name="word" id="word" type="text"
               hx-get="/vocabs/{{ vocab.id }}/word"
               hx-target="#valid-helper"
               hx-trigger="change, keyup delay:200ms changed"
               hx-swap="outerHTML"
               placeholder="Word" value="{{ vocab.word }}"
               required>
        <small id="valid-helper"></small>
        <label for="context">Context</label>
        <input name="context" id="context" type="text" placeholder="Context" value="{{ vocab.context }}">
        <label for="source">Source</label>
        <input name="source" id="source" type="text" placeholder="Source" value="{{ vocab.source }}">
        <button id="save-btn">Save</button>
    </fieldset>
</form>

<button id="delete-btn"
        hx-delete="/vocabs/{{ vocab.id }}"
        hx-target="body"
        hx-push-url="true"
        hx-confirm="Are you sure you want to delete this vocab?">
    Delete Contact
</button>

<p>
    <a href="/vocabs/">Back</a>
</p>

{% endblock %}