{% extends 'layout.html' %}

{% block content %}

<form action="/vocabs" method="get" class="tool-bar">
    <label for="search">Search Term</label>
    <input id="search" type="search" name="q" value="{{ request.query_params.get('q') or '' }}"
           hx-get="/vocabs"
           hx-trigger="search, keyup delay:200ms changed"
           hx-target="tbody"
           hx-push-url="true"
           hx-indicator="#spinner"/>
    <img id="spinner" class="htmx-indicator"
         src="/static/img/spinning-circles.svg"
         alt="Request In Flight ..."/>
    <input type="submit" value="Search"/>
</form>

<table>
    <thead>
        <tr>
            <th>Word</th>
            <th>Context</th>
            <th>Source</th>
        </tr>
    </thead>
    <tbody>
        {% include 'rows.html' %}
        {% if vocabs|length == 10 %}
            <tr>
                <td colspan="5" style="text-align: center">
                    <span hx-target="closest tr"
                            hx-trigger="revealed"
                            hx-swap="outerHTML"
                            hx-select="tbody > tr"
                            hx-get="/vocabs?page={{ page + 1 }}">
                            Loading More ...
                    </span>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
<p>
    <a href="/vocabs/new">Add Vocab</a>
</p>

{% endblock %}