{% extends 'layout.html' %}

{% block content %}

<form action="/vocabs" method="get" role="search">
    <input id="search" type="search" name="q" value="{{ request.query_params.get('q') or '' }}" placeholder="Search"
        hx-get="/vocabs"
        hx-trigger="search, keyup delay:200ms changed"
        hx-target="tbody"
        hx-push-url="true"
        hx-indicator="#spinner"/>
    <img id="spinner" class="htmx-indicator"
         src="/static/img/spinning-circles.svg"
         alt="Request In Flight ..."/>
    <input type="submit" value="Search"/>
</form>

<table class="striped">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Word</th>
            <th scope="col">Context</th>
            <th scope="col">Source</th>
            <th scope="col">Zipf</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody id="vocabs-container">
        {% for vocab in vocabs %}
            {% include 'vocab_row.html' %}
        {% endfor %}
    </tbody>
</table>

{% if has_more %}
    <button id="load-more"
            hx-get="/vocabs?last_freq={{ vocabs[-1].freq }}&last_id={{ vocabs[-1].id }}"
            hx-target="#vocabs-container"
            hx-swap="beforeend"
            hx-indicator="#loading">
        Load More Vocabs
    </button>
{% endif %}

<div id="loading" class="htmx-indicator">
	Loading...
</div>

<p>
    <a href="/vocabs/new">Add Vocab</a>
    <span hx-get="/vocabs/count" hx-trigger="revealed">
        <img id="spinner" class="htmx-indicator" src="/static/img/spinning-circles.svg"/>
    </span>
</p>

{% endblock %}