<!doctype html>
<html lang="">
    <head>
        <title>Vocab Stack</title>
        <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    </head>
    <body hx-boost="true">
        <main>
            <header>
                <h1>
                    <all-caps>vocab-stack.app</all-caps>
                    <sub-title>Vocab Stack Prototype</sub-title>
                </h1>
            </header>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>