<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark">
        <link href="{{ url_for('static', path='/site.css') }}" rel="stylesheet" />
        <script
            src="https://unpkg.com/htmx.org@2.0.4"
            integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
            crossorigin="anonymous">
        </script>
        <script src="https://unpkg.com/hyperscript.org@0.9.13"></script>
        <title>Vocab Stack</title>
    </head>
    <body hx-boost="true">
        <header></header>
        <main class="container">
            <h1>Vocab Stack Prototype</h1>
            {% block content %}{% endblock %}
        </main>
        <footer></footer>
    </body>
</html>