{% extends 'layout.html' %}

{% block content %}

<form action="/vocabs/new" method="post">
    <fieldset>
        <input name="word" id="word" type="text"
               hx-get="/vocabs/new/word"
               hx-target="#valid-helper"
               hx-trigger="change, keyup delay:200ms changed"
               hx-swap="outerHTML"
               placeholder="Word" value="{{ vocab.word or '' }}"
               required>
        <small id="valid-helper"></small>
        <input name="context" id="context" type="text" placeholder="Context" value="{{ vocab.context or '' }}">
        <input name="source" id="source" type="text" placeholder="Source" value="{{ vocab.source or '' }}">
        <button id="save-btn">Save</button>
    </fieldset>
</form>

<p>
    <a href="/vocabs">Back</a>
</p>

{% endblock %}