{% extends 'layout.html' %}

{% block content %}

<form action="/vocabs/new" method="post">
    <fieldset role="group">
        <input name="word" id="word" type="text" placeholder="Word" value="{{ vocab.word or '' }}">
        <input name="context" id="context" type="text" placeholder="Context" value="{{ vocab.context or '' }}">
        <input name="source" id="source" type="text" placeholder="Source" value="{{ vocab.source or '' }}">
        <button>Save</button>
    </fieldset>
</form>

<p>
    <a href="/vocabs">Back</a>
</p>

{% endblock %}